WALLET="./.secret/wallet.json"
VOUCHER_ADDRESS=""
VOUCH_CONTRACT="Ax_uXyLQBPZSQ15movzv9-O1mDo30khslqN64qD27Z8"
VOUCH_DAO_PROCESS_ID="L1CWfW_LAWA7UY_zf9CFwbnt3wLuVMEueylFi_1YACo"
SESSION_SECRET="chocolate milk"
